.body{
    background-color: #061B1E;
}
.synopsis-banner{
    
}
.movie-header{
    height: 250px;
    filter: blur(8px);
    box-shadow:100px 200px 200px 10px black inset;
}
.movie-image{
    position: relative;
    left: 100px;
    top: -200px;
    height: 300px;
}
.detail-header{
position: relative;
left: 330px;
top: -470px;
color: #B0DADA;
}
.certificate{
    border: solid 2px #B0DADA;
    padding:4px;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 50%;
}
.language{
    margin-left: 10px;
    font-size: small;
    font-family: sans-serif;
}
.date{
    margin-left: 10px;
    position: relative;
    top: -2px;
    font-size: 15px;
}
.time{
    margin-left: 10px;
}