.body{
    background-color: #061B1E;
}
.movie-header{
    height: 250px;
    filter: blur(8px);
    position: relative;
    top: -20px;
    background-color: (0,0,0.8);
}
.movie-image{
    position: relative;
    left: 100px;
    top: -200px;
    height: 300px;
}
.detail-header{
position: relative;
left: 330px;
top: -500px;
color: #199297;
}
.certificate{
    border: solid 2px #199297;
    padding:4px;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 50%;
}
.language{
    margin-left: 10px;
    font-size: small;
    font-family: sans-serif;
}
.date{
    margin-left: 10px;
    position: relative;
    top: -2px;
    font-size: 15px;
}
.time{
    margin-left: 10px;
}