.body{
    background-color: #061B1E;
}
.movie-header{
    height: 250px;
    filter: blur(8px);
    position: relative;
    top: -20px;
    background-color: (0,0,0.8);
    width: 1200px;
    margin-left: 13%;
    box-shadow:100px 200px 200px 10px black inset;
}

.detail-header{
position: relative;
top: -150px;
left: 250px;
color: #B0DADA;
}
.certificate{
    border: solid 2px #B0DADA;
    padding:4px;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 50%;
}
.language{
    margin-left: 10px;
    font-size: small;
    font-family: sans-serif;
}
.date{
    margin-left: 10px;
    position: relative;
    top: -2px;
    font-size: 15px;
}
.time{
    margin-left: 10px;
}
.column svg{
    color: lightgray;
    cursor: pointer;
    margin-right: 5px;
}
.column svg:hover{
    color: #03AA8E;
    position: relative;
    animation-name: exapmle;
    animation-duration: 0.5s;
    top: -10px;
}
@keyframes exapmle{
    0% {top:0px;}
    50%{top:-10px}
}
.column1{
    margin-left: 150px;
}
.prime{
    position: relative;
    left: -50px;
    margin-bottom: 50px;
}
.classic{
    margin-bottom: 50px;
    margin-right: 0%;
}
.recliner{
    position: relative;
    left: -35px;
}
.screen{
    position: relative;
    left: 500px;
    top: -100px;
}
.screen p{
    color: lightgray;
    text-align: center;
    font-size: large;
}
.seats{
    position: relative;
    top: -60px;
}
.seats h3{
    color: lightgray;
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.guide p span{
    color: lightgray;
    font-size: large;
}
.guide p span svg{
    margin-right: 20px;
}
.guide p .text{
    margin-right: 50px;
}
.guide{
    position: relative;
    top: -80px;
    margin-left: 300px;
}
.unavailable{
    color: gray;
}
.priceCalculator{
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 150px;
    border-radius: 10px;
    background-color: white;
    width: 1100px;
    height: 70px;
    padding-top: 18px;
}
.priceCalculator .seats1{
    background-color: #025357;
    color: #03DCB1;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.my-custom-class{
    margin-left: 0%;
}
.next{
    position: fixed;
    bottom: 20px;
    right: 200px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
}
.confirmation{
    background-color: lightgray;
    height: 400px;
    width: 300px;
    padding: 20px;
    -moz-box-shadow: 2px 1px 44px grey;
    -webkit-box-shadow: 2px 1px 44px grey;
    box-shadow: 2px 1px 44px grey;


    margin: auto;
}
.circle-left,.circle-right{
    border-radius: 50%;
    position: fixed;
    height: 20px;
    width: 20px;
    top: 48%;
}
.circle-left{
    left:40.7%
}
.circle-right{
    right: 40.7%;
}
.modal-header,
.modal-footer{
    border: none;
}
.modal-body{
    padding: 20px;
}
.modal-title{
    color: #00A86B;
    font-family: sans-serif;
    font-size: larger;
    margin-bottom: 20px;
}
.price{
    position: relative;
    float: right;
}
.confirmation .amount{
    margin-top: 40px;
}
.sub{
    color: grey;
}
.food{
    margin-top: 40px;
    margin-left: 80px;   
    font-size: large;
}
.food span{
    color: #c80815;
    margin-left: 10px;
}
.food-sub{
    margin-left: 20px;
}
.food-sub a{
    color: #c80815;
}
.confirmation img{
    height: 100px;
}