<div style="background-color: #061B1E;">
    <div class="body" style="background-color: #061B1E;">
        <div>
            <div *ngIf="movie">
                <div class="synopsis-banner">
                    <div class="movie-header" style="background-image: url({{movie.file}}); background-size: cover; background-position-y:bottom;">
                    </div>
                    <div class=".__overlay"></div>
                </div>
                <div class="detail-header">
                    <h1 style="font-size: 40px;">{{movie.name}}</h1>
                    <h5 style="margin-top: 20px;font-size: 18px;">{{date$.address}} 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                          </svg>
                          {{date$.day}} {{date$.date}} {{month}} {{year}}, {{date$.time}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row screen">
            <div>
                <p>
                    <svg width="1em" height="1em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 511.996 511.996" style="enable-background:new 0 0 511.996 511.996;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M441.154,176.9L261.954,2.419c-3.311-3.226-8.593-3.226-11.904,0L70.85,176.9c-1.655,1.604-2.586,3.806-2.586,6.11
                                c0,2.304,0.939,4.506,2.586,6.11l48.666,47.386c3.319,3.243,8.61,3.234,11.921-0.017l81.894-80.299v347.273
                                c0,4.71,3.823,8.533,8.533,8.533h68.267c4.71,0,8.533-3.823,8.533-8.533V156.19l81.894,80.299c3.311,3.251,8.61,3.243,11.93,0.017
                                l48.666-47.386c1.647-1.604,2.577-3.806,2.577-6.11C443.731,180.706,442.801,178.505,441.154,176.9z"/>
                        </g>
                    </g>
    
                </svg>
                Screen This Way
                </p>
            </div>
        </div>
        <div class="row guide">
            <p>
                <span>
                    <svg  width="2em" height="2em" fill="lightgrey" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                </span>
                <span class="text">
                    Available
                </span>
                <span>
                    <svg  width="2em" height="2em" fill="#03AA8E" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                </span>
                <span class="text">Selected</span>
                <span>
                    <svg  width="2em" height="2em" fill="grey" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                </span>
                <span class="text">Unavailable</span>
            </p>
        </div>
    </div>
<div class="container seats" *ngIf="isClassic">
    <h3>Classic (99.00)</h3>
    <div class="row prime">
        <div class="column1">
            <div class="row" *ngFor="let r of seating[0]">
                <p style="margin-right: 200px;color: #03DCB1;width: 5px;margin-bottom: 0%;">{{r}}</p>
                <div class="column" *ngFor="let c of seating[3]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        </div>
        <div class="column1">
            <div class="row" *ngFor="let r of seating[0]">
                <div class="column" *ngFor="let c of seating[4]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>
                </div>
        </div>
        </div>
    </div>
    <h3>Prime (99.00)</h3>
    <div class="row classic">
        <div class="column1">
            <div class="row" *ngFor="let r of seating[1]">
                <p style="position: relative;left: -50px;;color: #03DCB1;width: 5px;margin-bottom: 0%;">{{r}}</p>
                <div class="column" *ngFor="let c of seating[5]">
                    <div (click)="isSelected($event,r,c)" >
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        </div>
        <div class="column1">
            <div class="row" *ngFor="let r of seating[1]">
                <div class="column" *ngFor="let c of seating[6]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        
    </div>
    </div>
    <h3>Recliner (149.00)</h3>
    <div class="row recliner">
        <div class="column1">
            <div class="row" *ngFor="let r of seating[2]">
                <p style="position: relative;left: -50px;;color: #03DCB1;width: 5px;margin-bottom: 0%;">{{r}}</p>
                <div class="column" *ngFor="let c of seating[7]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        </div>
        <div class="column1">
            <div class="row" *ngFor="let r of seating[2]">
                <div class="column" *ngFor="let c of seating[8]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        
    </div>
    </div>
  </div>
  <div class="container seats" *ngIf="!isClassic">
    <h3>Prime (99.00)</h3>
    <div class="row prime">
        <div class="column1">
            <div class="row" *ngFor="let r of seating[0]">
                <p style="margin-right: 560px;color: #03DCB1;width: 5px;margin-bottom: 0%;">{{r}}</p>
                <div class="column" *ngFor="let c of seating[2]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        </div>
    </div>
    <h3>Recliner (149.00)</h3>
    <div class="row recliner">
        <div class="column1">
            <div class="row" *ngFor="let r of seating[1]">
                <p style="position: relative;left: -80px;;color: #03DCB1;width: 5px;margin-bottom: 0%;">{{r}}</p>
                <div class="column" *ngFor="let c of seating[2]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        </div>
        <div class="column1">
            <div class="row" *ngFor="let r of seating[1]">
                <div class="column" *ngFor="let c of seating[3]">
                    <div (click)="isSelected($event,r,c)">
                        <svg  width="2em" height="2em" fill="currentColor" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M407,76H105C47.109,76,0,123.109,0,181v150c0,57.891,47.109,105,105,105h302c57.891,0,105-47.109,105-105V181
			C512,123.109,464.891,76,407,76z"/>
	</g>
</g>
</svg> 
                    </div>

                </div>
        </div>
        
    </div>
    </div>
  </div>
 

  <div class="container" *ngIf="length1!=0">
    <div class="priceCalculator" >
        <p style="font-size: large;margin-right: 15px; color: gray;margin-left: 20px;" [ngbTooltip]="tipContent"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
          <circle cx="8" cy="4.5" r="1"/>
        </svg></p>
        <p style="font-size: large;margin-right: 30px;">SEAT INFO</p>
          <div class="row seating" *ngFor="let seat of selected">
             <div class="col">
              <p class="seats1">
                  {{seat}}
              </p>
             </div>
          </div>
          <p style="font-size: large;margin-right: 30px;position: fixed;right: 500px;bottom:3px;">Total <br> (INR)</p>
          <p style="font-size: x-large;position: fixed;right: 450px;bottom:15px;">{{total}}</p>
    </div>
    <ng-template #tipContent>Seat layout is only for representation.Actual spaces between two seats, space between screen and seats, or screen size may vary from that shown in the representation.</ng-template>
    <div class="next" (click)="openVerticallyCentered(content)">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="black" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg>
    </div>
    <ng-template #content let-modal>
        <div style="background-image: url({{movie.file}}); background-size: cover;">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="confirmation">
                  <span class="circle-left" ></span>
                  <span class="circle-right" ></span>
                  <h4 class="modal-title">
                      Booking Summary
                  </h4>
                  <p><span>
                      {{seatType}}-{{selected}} ( {{length1}} Tickets) <br>
                      <span class="sub" style="font-size: small;">AUD 1</span>
                  </span>
                      <span class="price" style="position: relative; top: -23px;">{{total | currency:'INR':'symbol'}}</span>
                  </p>
                  <p class="sub">
                      Booking fees 
                      <span class="price">{{38 | currency:'INR':'symbol'}}</span>
                  </p>
                  <p class="sub">
                      <span>Integrated GST(IGST) <br> @ 18%</span>
                      <span class="price">{{gst |currency:'INR':'symbol'}}</span>
                  </p>
                  <h5 class="amount">
                      Amount Payable
                      <span class="price">
                          {{amount | currency:'INR':'symbol'}}
                      </span>
                  </h5>
      
                  <p class="food">Grab a<span>bite!</span></p>
                  <p class="food-sub">Prebook Your Meal and <a routerLink="">Save More!</a></p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="proceed()">Proceed</button>
              </div>
        </div>
      </ng-template>
  </div>
 